<!-- Footer -->

<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">eHealthTotal</h5>
        <p>
          Your trusted source for health products. Explore our wide range of
          products and enjoy a healthy lifestyle.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="/" class="text-dark">Home</a>
          </li>
          <li>
            <a href="/inventory" class="text-dark">Inventory</a>
          </li>

          <li>
            <a href="/orders" class="text-dark">Orders</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Contact Us</h5>
        <ul class="list-unstyled">
          <li>
            <p class="text-dark">Email: info@ehealthtotal.com</p>
          </li>
          <li>
            <p class="text-dark">Phone: (123) 456-7890</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-dark text-white">
    © 2024 eHealthTotal. All Rights Reserved.
  </div>
</footer>
