<!-- <div class="product-item">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p>{{ product.price | currency : 'INR'}}</p>
    <button (click)="addToCart(product)">Add to Cart</button>
  </div>
   -->

<app-header></app-header>

<div class="product-item card my-3 shadow-sm">
  <div class="card-body">
    <h2 class="card-title">{{ product.name }}</h2>

    <img
      [src]="product.image"
      [alt]="product.name"
      style="width: 225px; height: 165px; object-fit: contain"
    />

    <p class="card-text">{{ product.description }}</p>

    <p class="card-text font-weight-bold">
      {{ product.price | currency : "INR" }}
    </p>

    <button class="btn btn-primary" (click)="addToCart(product)">
      Add to Cart
    </button>
  </div>
</div>
