<!-- <div class="landing-page">
  <button class="btn btn-danger" (click)="logout()">Logout</button>
  <h1>Welcome to eHealthTotal</h1>
  <p>Explore our range of health products.</p>
  <app-product-list [products]="products"></app-product-list>
</div> -->

<app-header></app-header>

<div class="container landing-page my-5 py-2">
  <div class="text-center mb-5">
    <h1 class="display-4">Welcome to eHealthTotal</h1>
    <p class="lead">Explore our range of health products.</p>
  </div>
  <app-product-list [products]="products"></app-product-list>
</div>

<app-footer></app-footer>
